.users img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px #ce0037 solid;
}

.users .name {
  font-size: 20px;
  margin-top: 10px;
  text-align: start;
  font-weight: 700;
}

.users .totalquiz {
  font-size: 15px;
  text-align: start;
}

.users {
  margin: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;
}

.useramount {
  padding: 30px;
  padding-bottom: 10px;
}

.diable {
  background-color: #f0f34c;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 0.3rem black;
  font-weight: 700;
  transition: 0.3s;
}

.diable:hover {
  background-color: black;
  color: #f0f34c;
  transition: 0.3s;
}

.delete {
  background-color: #ce0037;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 0.3rem black;
  transition: 0.3s;
}

.delete:hover {
  background-color: white;
  color: #ce0037;
  transition: 0.3s;
}

.disabled {
  background-color: greenyellow;
  color: black;
}

.disabled:hover {
  background-color: greenyellow;
  color: black;
}

.search {
  padding-bottom: 10px;
  padding-left: 40px;
}

.search input {
  width: 40%;
  background-color: #d9d9d9;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

@media screen and (max-width: 670px) {
  .search input {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .search input {
    width: 80%;
  }
}

.no-results {
  display: none;
  color: red;
}
