.welcome {
  background-color: #ffcedb;
  border-radius: 20px;
  box-shadow: 0 0 0.3rem black;
  padding: 30px;
  margin-bottom: 100px;
}

.back {
  background-color: white;
  color: #ce0037;
  padding: 5px 30px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  box-shadow: 0 0 0.3rem black;
  transition: 0.3s;
}

.back:hover {
  background-color: #ce0037;
  color: white;
  transition: 0.3s;
}

.imageicon img {
  width: 150px;
  border-radius: 50%;
  border: #ce0037 solid 3px;
}

.imageicon h1 {
  font-size: 25px;
}

.imageicon h2 {
  font-size: 30px;
  color: #ce0037;
  font-weight: 700;
}

.selectagent {
  padding: 5px 30px;
  font-size: 20px;
  background-color: #ce0037;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0 0 0.3rem black;
  transition: 0.3s;
}

.selectagent:hover {
  background-color: white;
  color: #ce0037;
  transition: 0.3s;
}
