.button button {
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: 700;
  background-color: #ce0037;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  transition: 0.3s;
  box-shadow: 0 0 0.3rem black;
}

.button button:hover {
  background-color: white;
  color: #ce0037;
  transition: 0.3s;
}

.image-container {
  max-width: 310px;
  max-height: 180px;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin: auto;
  border: #ce0037 5px solid;
}

.image-container img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  background-color: white;
  box-shadow: 0 0 0.2rem black;
  border-radius: 20px;
  margin-top: 5%;
}

.ttitle h1 {
  font-size: 25px;
}

.table {
  max-height: 250px;
  overflow-y: scroll;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #343a40;
  z-index: 10;
}
