@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.logo h3 {
  font-weight: 700;
  padding-left: 20px;
  margin: 0;
  font-size: 32px;
  margin-top: 5px;
}

.logo img {
  width: 55px;
  border-radius: 10px;
}

nav {
  display: flex;
  background-color: #d9d9d9;
  box-shadow: 0 0 0.5rem black;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 5px;
}

.homepage {
  margin-left: 100px;
  margin-right: 20px;
}

.home i {
  font-size: 30px;
  transition: 0.3s;
}

.first {
  margin-left: 50px;
}

.home {
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  margin: 0 30px;
}

.home h3 {
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
  transition: 0.3s;
}

.home:hover i,
.home:hover h3 {
  color: #ce0037;
  transition: 0.3s;
}

.home:hover {
  border-bottom: 5px solid #ce0037;
  transition: 0.3s;
}

.home:hover {
  cursor: pointer;
}

.onpage {
  border-bottom: 4px solid #ce0037;
}

.onpage h3,
.onpage i {
  /* font-weight: 700; */
  color: #ce0037;
}

.menu {
  margin-left: auto;
  margin-right: 10px;
}

.dropdown {
  border: #ce0037 solid 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.4s;
}

.dropdown:hover {
  cursor: pointer;
  background-color: #ce0037;
  transition: 0.4s;
}

.dropdown i {
  font-size: 35px;
  color: #ce0037;
  transition: 0.4s;
}

.dropdown i:hover {
  color: white;
  transition: 0.4s;
}

.dropdown-menu {
  position: absolute;
  right: 20px;
  margin-top: 6px;
}

.dropdown-content h1 {
  font-size: 20px;
  margin: 0;
}

.dropdown-content i {
  margin-right: 10px;
}

.dropdown-content:hover {
  cursor: pointer;
  background-color: #ffcedb;
  color: #ce0037;
  transition: 0.3s;
}

.dropdown-content {
  align-items: left;
  justify-content: left;
  padding-left: 20px;
  transition: 0.3s;
}

.name h1 {
  font-size: 20px;
}

.email h1 {
  font-size: 15px;
  font-weight: 300;
}

.pagetitle {
  text-align: center;
  padding: 30px;
  margin-left: 10px;
  display: none;
}

.pagetitle h3 {
  font-weight: 700;
  color: #ce0037;
}

@media screen and (max-width: 670px) {
  .home h3 {
    display: none;
  }

  .homepage {
    margin-left: 0px;
  }

  .home {
    margin: 0px 12px;
  }
}

@media screen and (max-width: 900px) {
  .home h3 {
    display: none;
  }

  .homepage {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1060px) {
  .home h3 {
    display: none;
  }

  .homepage {
    margin: 0 12px;
  }

  .logo h3 {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .home h3 {
    display: none;
  }
  .pagetitle {
    display: block;
  }
}
