.mainn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main2 {
  display: block;
}

.maining {
  box-shadow: 0 0 0.3rem black;
  border-radius: 15px;
  margin-top: 50px;
}

.image-container {
  max-width: 310px;
  max-height: 180px;
  min-height: 246px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.image-container img {
  border-radius: 2px 2px 0 0;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.button button {
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  background-color: #ce0037;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  transition: 0.3s;
  box-shadow: 0 0 0.3rem black;
}

.button button:hover {
  background-color: white;
  color: #ce0037;
  transition: 0.3s;
}

.plays h1 {
  background-color: #ffcedb;
  font-size: 15px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  color: #ce0037;
}

.plays {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator h1 {
  font-size: 20px;
}

.ques h1 {
  background-color: #d9d9d9;
  font-size: 15px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  color: #515151;
}

.ques {
  display: flex;
  justify-content: left;
  align-items: center;
}

.start {
  margin-bottom: 50px;
}

.start button {
  background-color: #63ff72;
  color: #02760e;
  border: none;
  padding: 8px 30px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 0 0.3rem black;
}

.start button:hover {
  background-color: #c5ffca;
  transition: 0.3s;
}

.quiztitle {
  text-wrap: nowrap;
}

.showing {
  box-shadow: 0 0 0.3rem black;
  border-radius: 15px;
  margin-top: 40px;
  display: none;
}

.congrats {
  box-shadow: 0 0 0.3rem black;
  border-radius: 15px;
  display: none;
}

.image2 {
  max-width: 100px;
  max-height: 180px;
  min-height: 20px;
}

.answerbutton button {
  padding: 10px 50px;
  width: 100%;
  font-size: 20px;
  background-color: #ffcedb;
  border: none;
  color: #ce0037;
  border-radius: 10px;
  margin: 20px;
  transition: 0.3s;
  font-weight: 700;
}

.answerbutton button:hover {
  background-color: #ce0037;
  color: #ffcedb;
  transition: 0.3s;
}

#questionContainer {
  font-size: 25px;
  margin-top: 20px;
}

#answerContainer {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main3 {
  width: 50%;
  margin: auto;
}

.congratss h1 {
  font-size: 20px;
  color: #515151;
}

.view {
  border: none;
  padding: 10px 30px;
  background-color: #ce0037;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0 0.3rem black;
  transition: 0.3s;
}

.button-trov button {
  background-color: #63ff72;
  color: #02760e;
}

.button-trov button:hover {
  background-color: #63ff72;
  color: #02760e;
}

.button-khos button {
  background-color: red;
  color: white;
}

.button-khos button:hover {
  background-color: red;
  color: white;
}

.view:hover {
  background-color: white;
  color: #ce0037;
  transition: 0.3s;
}
#questionContainer {
  user-select: none;
}

@media screen and (max-width: 1400px) {
  .quiztitle {
    text-align: center;
  }

  .creator {
    text-align: center;
  }

  .ques {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
